<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5">Filters</span>
  </a>
  <hr>

  <%= form_with url: applicants_path, method: :get do |f| %>

  <div class="form-row d-flex mb-1">
    <div class="form-group col-12">
      <div class="d-block">
        <input class="form-control" id="tag-select" placeholder="Tag">
      </div>
    </div>
  </div>
  <div class="form-row d-flex">
    <%= f.submit 'Filter', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $("#tag-select").autocomplete({
    source: <%= current_user.tags.map { |tag| tag.name }.to_s.html_safe %>
  });
</script>
